<section class="hero is-success is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <div class="columns">
          <div class="column">
            <div class="field has-text-centered">
              <label class="label">Start Station</label>
              <div class="control has-text-centered">
                <app-list (selected)="startDestinationChanged($event)" [selectedItem]="selectedStartStation"
                  [items]="startingStations"></app-list>
              </div>
            </div>
          </div>
          <div class="column" *ngIf="selectedIntermediateStation">
            <div class="field has-text-centered">
              <label class="label">Intermediate Station</label>
              <div class="control has-text-centered">
                <input class="input is-large has-text-centered" type="text" [(ngModel)]="selectedIntermediateStation" disabled />
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field has-text-centered">
              <label class="label">Destination Station</label>
              <div class="control has-text-centered">
                <app-list (selected)="finalDestinationChanged($event)" [disabled]="selectedStartStation==='Select'"
                  [selectedItem]="selectedEndStation" [items]="endStations"></app-list>
              </div>
            </div>

          </div>

        </div>
        <div class="columns" *ngIf="duration">
          <div class="column has-text-centered">
            <h1 class="title is-1">Total Duration</h1>
            <h2 class="title is-2">
              {{duration}} minutes
            </h2>
          </div>
        </div>
      </h1>
    </div>
  </div>
</section>
